{% extends 'patients/base.html' %}
{% block content%}



{% load static %}


<div>
    <div>
        <h1>Contact</h1>
        <p>Please feel free to reach out with any questions or requests</p>
    </div>

<div>

    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" placeholder="john@email.com"  id="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We will never share your email with anyone else</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Joe Smith" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Notes</label>
            <input type="text" class="form-control" placeholder="any notes" id="notes">
          </div>

        <button type="submit" class="btn btn-primary">Send</button>
      </form>

</div>


</div>



{% endblock %}